.aside {
    background: #F5F5F5 none repeat scroll 0% 0%;
    border-bottom: 1px solid #E7E7E7;
    color: #999;
    top: 0px;
    z-index: 150;
}

.toolbar {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 10px 30px;
    text-align: center;
}

.toggle-options-button {
    background: transparent none repeat scroll 0px center;
    border: 0px none;
    color: #BBB;
    font-size: 20px;
    line-height: 1;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    vertical-align: middle;
}

.see-also {
    padding: 70px 130px 20px;
}