.social-links {
	margin-top: 30px;
}
.social-links__list {
	list-style: none;
	padding: 0;
	margin: 10px 0;
	clear: fix-legacy;
}
.social-links__elem {
	float: left;
	margin-right: 5px;
	text-align: center;
	height: 24px;
	width: 24px;
	border-radius: 3px;
	background: #f4f4f4;
}
.social-links__elem-link {
	border-bottom: 0;
}
.social-links__icon {
	color: #606060;
	font-size: 14px;
	line-height: 24px;
}
.social-links__elem:hover .social-links__icon {
	color: #444;
}