body {
	color: #222;
	font-family: 'Proxima Nova', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima Nova', Arial, sans-serif;
	color: #222;
}
a {
	color: #1751FF;
	border-bottom: 1px solid;
	text-decoration: none;
}
a:hover {
	border-bottom: none;
	text-decoration: none;
}
h2 a {
	color: #222;
}
hr {
	border: none;
	height: 1px;
	background: #eee;
}
.wrapper {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
.content {
	lost-column: 2/3;
}
.main-inner {
	padding: 40px;
}
@media (max-width:1100px) {
	.content {
		lost-column: 2/4;
	}
	.main-inner {
		padding: 15px 20px;
	}
}
@media (max-width:900px) {
	.content {
		lost-column: 7/12;
	}
	.main-inner {
		padding: 10px 20px;
	}
}
@media (max-width:500px) {
	.content {
		lost-column: 4/4;
	}
	.main-inner {
		padding: 5px 20px;
	}
}