.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    lost-column: 2/3;
}

.main {
}

.main-inner {
	padding: 40px;
}

@media (max-width: 1100px) {
  .content {
    lost-column: 2/4;
  }
  .main-inner {
    padding: 15px 20px;
  }
}

@media (max-width: 900px) {
  .content {
    lost-column: 7/12;
  }
 .main-inner {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .content {
    lost-column: 4/4;
  }
  .main-inner {
    padding: 5px 20px;
  }
}