.footer {
	lost-column: 1;
	background: #f4f4f4;
}
.footer__nav {
	text-align: center;
	list-style: none;
	margin: 0 auto;
	lost-utility: clearfix;
}
.footer__nav-elem {
	margin: 0 auto;
	padding: 15px 5px;
}
.footer__nav-elem--back-to-top .footer__nav-elem-link {
	color: #999;
	text-decoration: none;
}
.footer__nav-elem--back-to-top .footer__nav-elem-link:hover, .footer__nav-elem--back-to-top .footer__nav-elem-link:focus, .footer__nav-elem--back-to-top .footer__nav-elem-link:active {
	color: #444;
}