.blog-page {
	margin-bottom: 40px;
}
.blog-page:last-child {
	margin-bottom: 0;
}
.blog-page h1 {
	font-size: responsive 20px 36px;
	margin-top: 0;
}
.blog-page p {
	font-size: responsive 14px 16px;
	line-height: 1.5;
	margin-top: 10px;
}
.blog-page ul {
	margin-bottom: 20px
}
.blog-page ul li {
	margin-bottom: 10px
}
@media (max-width:900px) {
	.gohome {
		position: static;
		margin: 20px auto 0;
		text-align: center;
		width: 84px;
		display: block;
	}
	.blog-page ul {
		padding-left: 15px;
	}
}