.page {
	margin-bottom: 40px;
}
.page__heading {
	font-size: responsive 24px 36px;
	margin-top: 0;
}
.page__body {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 10px;
}
.page__body ul {
	margin-bottom: 20px
}
.page__body ul li {
	margin-bottom: 10px
}
@media (max-width:900px) {
	.page__body ul {
		padding-left: 15px;
	}
}