.github-feed {
	padding: 0;
}
.github-feed h3 {
	font-size: responsive 24px 36px;
	margin: 0;
}
.github-feed ul {
	padding: 0 0 0 15px;
	list-style-type: square;
}
.github-feed ul > li p {
	font-size: 16px;
	line-height: 1.5;
}
.github-feed ul > li a {
	font-weight: 500;
}

/*@media (max-width:1100px) {
	.github-feed {
	}
}*/
@media (max-width:900px) {
	.github-feed ul {
		list-style: none;
		padding: 0;
	}
}
@media (max-width:500px) {
	.github-feed ul {
		list-style: none;
		padding: 0;
	}
}