.github-feed {
	padding: 0 40px 80px;
}

.github-feed h3 {
	font-size: responsive 20px 36px;
	margin: 0;
}

.github-feed ul {
	padding: 0px 0px 0px 15px;
}
.github-feed ul > li p {
	font-size: responsive 14px 16px;
	line-height: 1.5;
}
.github-feed ul > li a {
	font-weight: 600;
}

@media (max-width: 1100px) {
  .github-feed {
	padding: 20px 15px 40px;
  }
}

@media (max-width: 900px) {
  .github-feed {
	padding: 20px 15px 40px;
  }
}

@media (max-width: 500px) {
  .github-feed {
	padding: 20px 15px 20px;
  }
}