.github-feed {
	padding: 0;
	margin-bottom: 35px;
}
.github-feed__list {
	margin: 0;
	padding: 0 0 0 15px;
	list-style-type: square;
}
.github-feed__heading {
	font-size: responsive 24px 36px;
	margin: 0 0 10px;
}
.github-feed__elem {
	font-size: 16px;
	line-height: 1.5;
	margin: 15px 0;
}
.github-feed__title-link {
	font-weight: 400;
}
@media (max-width:900px) {
	.github-feed ul {
		list-style: none;
		padding: 0;
	}
}
@media (max-width:500px) {
	.github-feed ul {
		list-style: none;
		padding: 0;
	}
}