.nav {
	margin: 20px 0px 10px;
}
.nav__list {
	list-style: none;
	padding-left: 0;
}
.nav__elem {
	margin: 10px 0 13px;
}
.nav__elem a {
	border-bottom: 0;
	font-weight: 400;
	color: #1751FF;
}
.nav__elem a:hover {
	border-bottom: 1px solid;
}
.nav__elem--current a {
	color: #222;
	border-bottom: none !important;
}