.blog-nav {
    margin: 20px 0px 10px;
}

.blog-nav ul {
    list-style: none;
    padding-left: 0;
}

.blog-nav ul li {
	margin: 10px 0 10px;
}

.blog-nav ul li a {
	border-bottom: 0;
	font-weight: 600;
	color: #1c5c78;
}

.blog-nav ul li a:hover {
	border-bottom: 1px solid;
}